{{ define "title"}}Overpower Canvas Page{{end}}
{{ define "css"}}overpower{{end}}
{{define "body"}}
{{ $g := .data.Game }}
{{ $f := .data.Faction }}
<div class="blocker"><div class="blockertext" id="blockertext">There is a new turn available:<br> <a href="" class="blocker">Click here to refresh</a>.</div></div>
<div class="screenblock">
<canvas class="screen" id="starscreen" width=800 height=600></canvas>
<canvas class="screen" id="mainscreen" width=800 height=600></canvas>
</div>
<b>Game:</b> [ <a href="/overpower/view/{{ $g.Gid }}">{{ $g.Name }}</a> ] &bull; <b>Faction:</b> {{ $f.Name }}<br>
<div id="scorebox"><b>Score:</b> {{ $f.Score }} &bull; <b>To win:</b> {{ $g.ToWin }} &bull;  <b>Leader:</b> {{ $g.HighScore }} </div>
<div id="turnbox"><b>Turn:</b> {{ $g.Turn }} &bull;
        {{ if $f.Done }}Turn Complete{{ else }}Turn in progress{{end}}
</div>
<div id="reportbox">
[ <a href="/overpower/view/{{ $g.Gid }}/reports/">Reports Page</a> ]
</div>
<hr>
<div class="targetframe">
<div class="rightframe">
<div id="targettwobox"><b>Secondary Target:</b> None</div>
</div>
<div class="leftframe">
<div id="targetonebox">
<div class="center"> <b>Main Target:</b> None</div> </div>
<div id="targetorderbox"></div>
<button class="clicker" id="orderconfirm"><b>Confirm Order</b></button>
</div>
<div class="clearer"></div>
</div>

<script type="text/javascript"> (function() {

var canvas = document.getElementById('mainscreen');
canvas.overpowerData = JSON.parse({{.json}});

})(); </script>

<script src="/static/js/gamedata.js" type="text/javascript"></script>
<script src="/static/js/stars.js" type="text/javascript"></script>
<script src="/static/js/grid.js" type="text/javascript"></script>
<script src="/static/js/map.js" type="text/javascript"></script>
<script src="/static/js/infobox.js" type="text/javascript"></script>
<script src="/static/js/input.js" type="text/javascript"></script>
<script src="/static/js/turncheck2.js"></script>
{{ end }}
