{{ define "title"}}Planet Attack! Game Page{{end}}
{{ define "css"}}main{{end}}
{{define "body"}}
{{$g := index . "game" }}
{{ $myfac := index . "myfac" }}
PAGE FOR GAME: {{ $g.Name }}<br><br>

{{ if $myfac }}
<div class="box">
<form action="" method="post">
YOURFAC: <a href="{{ link "play" }}">{{ $myfac.Name }}</a> TURN {{ if $myfac.Done }}COMPLETE{{else}}IN PROGRESS{{end}}
        <input type="hidden" name="action" value="toggledone">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="done" value="{{ not $myfac.Done }}">
        <input type="submit" value="{{ if $myfac.Done}}CANCEL TURN COMPLETE{{else}}SET COMPLETE{{end}}">
</form><br>
</div>
{{ end }}
Turn: {{ $g.Turn }}<br><br>

{{ if $myfac }}OTHER {{ end }}FACTIONS:<br>
{{ range index . "factions" }} {{ if . }}
FACTION: {{ .Name }} (USER: {{ .Owner }}) TURN {{ if .Done }}COMPLETE{{else}}IN PROGRESS{{end}}<BR>
{{end}}{{ else }}
NONE<br>
{{ end }}
{{ end }}

