{{ define "title"}}Overpower User Home Page{{end}}
{{ define "css"}}overpower{{end}}
{{define "body"}}
{{ $user := index . "user" }}
{{ $g := index . "game"}}
{{ $oFacs := index . "ofactions"}}
{{ $oGames := index . "ogames" }}
{{ $active := index . "active"}}
{{ if $g }} 
<div class="box">
 <form action="" method="post" style="float:right;margin:10px 10px 10px 10px;">
<input type="hidden" name="action" value="dropgame">
<input type="submit" value="DELETE GAME">
 </form>
        Your Game: [ <a href="/overpower/view/{{ $g.Gid }}">{{ $g.Name }}</a> ] 
&bull; {{ if $active }}Turn {{ $g.Turn }}{{ else }}Not yet begun{{ end }}<br>
{{ if index . "gfactions" }}
<ul> {{ range index . "gfactions" }}
        <li>Faction {{ if eq $user .Owner }} [ {{ if $g.Turn }}<a href="/overpower/view/{{ $g.Gid }}/play">{{ .Name }}</a>{{ else }}{{ .Name }}{{ end }} ] (Your Faction){{ else }}{{ .Name }} (Owner: {{ .Owner }}){{ end }} {{ if $active }}{{ if .Done }}(Turn Completed){{ else }}(Turn In Progress){{ end }}{{ end }}</li>
{{ end }}
</ul>
{{ else }}
GAME HAS NO USERS SIGNED UP TO PLAY<br>
{{ end }}

{{ $autodays := $g.AutoDays }}
<br>
Auto Run Days: &bull;
{{ if .noauto }}
        None! &bull;
{{ else }}
        {{ if index $autodays 0 }}Sunday &bull; {{ end }}
        {{ if index $autodays 1 }}Monday &bull; {{ end }}
        {{ if index $autodays 2 }}Tuesday &bull; {{ end }}
        {{ if index $autodays 3 }}Wednesday &bull; {{ end }}
        {{ if index $autodays 4 }}Thursday &bull; {{ end }}
        {{ if index $autodays 5 }}Friday &bull; {{ end }}
        {{ if index $autodays 6 }}Saturday &bull; {{ end }}
        <br>
        {{ if $g.FreeAutos }}Free Turns: {{ $g.FreeAutos }}{{ end }}
{{ end }}
<form action="" method="post" class="noblock">
<input type="hidden" name="action" value="setautos">
<input type="hidden" name="turn" value="{{ $g.Turn }}">
<input type="submit" value="Change auto-run days:">
<input type="checkbox" name="sunday" {{ if index $autodays 0 }}checked="true"{{ end }}>Sunday &bull;
<input type="checkbox" name="monday" {{ if index $autodays 1 }}checked="true"{{ end }}>Monday &bull;
<input type="checkbox" name="tuesday" {{ if index $autodays 2 }}checked="true"{{ end }}>Tuesday &bull;
<input type="checkbox" name="wednesday" {{ if index $autodays 3 }}checked="true"{{ end }}>Wednesday &bull;
<input type="checkbox" name="thursday" {{ if index $autodays 4 }}checked="true"{{ end }}>Thursday &bull;
<input type="checkbox" name="friday" {{ if index $autodays 5 }}checked="true"{{ end }}>Friday &bull;
<input type="checkbox" name="saturday" {{ if index $autodays 6 }}checked="true"{{ end }}>Saturday <br>
 </form>
{{ if $active }}
<br><br>
 <form action="" method="post">
<input type="hidden" name="action" value="nextturn">
<input type="hidden" name="turn" value="{{ $g.Turn }}">
<input type="submit" value="Set all players done with turn {{ $g.Turn }}">
 </form>
{{ else }}
{{ if index . "gfactions" }}
 <form action="" method="post">
<input type="hidden" name="action" value="startgame">
<input type="submit" value="BEGIN GAME">
 </form>
{{ end }}
{{ end }}
</div>
{{ else }}
<div class="box">
You currently are running no game.
<form action="" method="post">
<input type="hidden" name="action" value="newgame">
Game Name: <input name="gamename" type="text"><br>
Your faction name (leave blank if you don't wish to play): <input name="facname" type="text"><br>
Password (leave blank for open game): <input name="password" type="text"><br>
<input type="submit" value="CREATE GAME">
</form>
</div>
{{ end }}
<br>ALL OF YOUR FACTIONS:<br>
<ul> {{ range $i, $f := $oFacs }}
{{ $g := index $oGames $i }}
<li>Game [ <a href="/overpower/view/{{ $g.Gid }}">{{ $g.Name }}</a> ] (Owner: {{ $g.Owner }}), Faction: [ <a href="/overpower/view/{{ $g.Gid}}/play">{{ $f.Name }}</a> ] {{ if $g.Turn }}Turn {{ $g.Turn }} {{ if $f.Done }}(Complete){{else}}(In Progress){{ end }}{{ else }}Not yet begun{{ end }}</li>
{{ else }}
<li>You are currently playing no games.</li>
{{ end }}</ul>


{{ end }}

