{{ define "title"}}Overpower Play Game Page{{end}}
{{ define "css"}}overpower{{end}}
{{define "body"}}
{{ $g := index . "game" }}
{{ $f := index . "fac" }}
{{ $orders := index . "orders" }}
{{ $availparts := index . "availparts" }}
{{ $names := index . "names" }}
{{ $plNames := index . "plnames" }}
{{ $center := .mapview.Center }}
{{ $centerpv := .centerpv }}
{{ $focuspv := .focuspv }}
<div class="mapbox">
<form id="mapform" action="" method="post" class="noblock">
<input type="hidden" name="turn" value="{{ $g.Turn }}">
<input type="hidden" name="action" value="mapclick">
</form>
<img id="map" class="map" src="/overpower/img/{{ $g.Gid }}" width=800 height=600 />
Game: [ <a href="/overpower/view/{{ $g.Gid }}">{{ $g.Name }}</a> ] &bull; Faction: {{ $f.Name }} &bull; Turn: {{ $g.Turn }} 
{{ if not $f.Done }}
(In Progress)
<form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setdone">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="done" value="true">
        <input type="submit" value="Set Turn Complete" class="noblock">
</form>
{{ else }}
(Complete)
<form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setdone">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="done" value="true">
        <input type="hidden" name="done" value="false">
        <input type="submit" value="Cancel Turn Complete" class="noblock">
</form>
{{ end }}
<hr>Zoom {{ .mapview.Zoom }} {{ if .zoomin }}
<form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setmap">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="zoom" value="{{ .zoomin }}">
        <input type="submit" value="Zoom In" class="noblock">
</form>
{{ end }}

{{ if .zoomout }}
<form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setmap">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="zoom" value="{{ .zoomout }}">
        <input type="submit" value="Zoom Out" class="noblock">
</form>
{{ end }}
 {{ if .bigzoomin }}
<form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setmap">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="zoom" value="{{ .bigzoomin }}">
        <input type="submit" value="Big Zoom In" class="noblock">
</form>
{{ end }}
{{ if .bigzoomout }}
<form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setmap">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="zoom" value="{{ .bigzoomout }}">
        <input type="submit" value="Big Zoom Out" class="noblock">
</form>
{{ end }}

<hr>
Map Centered on {{ index $center 0}}, {{ index $center 1 }}{{  if $centerpv }}:
{{ if .cyou }}
        {{ $o := .octof }}
        {{ $centerpv.Name }} (Your Planet) <br>
        Inhabitants: {{ $centerpv.Inhabitants }} &bull; 
        Resources: {{ $centerpv.Resources }} &bull;
        Ship Parts: {{ $centerpv.Parts }} (Available: {{ index $availparts $centerpv.Pid }})<br>
        {{ if $o }}
        <div class="box" style="margin-left:810px;">
        You have {{ $focuspv.Name }} focused (distance {{ .fcdist }}) and are launching a size {{ $o.Size }} ship at it:<br>
        <form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setorder">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="source" value="{{ $o.Source }}">
        <input type="hidden" name="target" value="{{ $o.Target }}">
        Change ship size (0 to cancel): <input type="text" size=2 name="size">
        <input type="submit" value="CHANGE" class="noblock">
        </form>
        </div>
        {{ else if (and (index $availparts .centerpv.Pid) (and $focuspv (not .cenfocused))) }}
        <div class="box" style="margin-left:810px;">
        You have {{ $focuspv.Name }} focused (distance {{ .fcdist }}) and up to {{ index $availparts .centerpv.Pid }} parts available for ship construction:<br>
        <form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setorder">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="source" value="{{ $centerpv.Pid }}">
        <input type="hidden" name="target" value="{{ $focuspv.Pid }}">
        Ship size: <input type="text" size=2 name="size"> &bull;
        <input type="submit" value="Order launch toward {{ $focuspv.Name }}" class="noblock">
        </form>
        </div>
        {{ end }}
        {{ if .cords }}
        <div class="box" style="margin-left:810px;">
        {{ if $o }}Other {{ end }}Planetary Launch Orders:<br>
        <ul> {{ range .cords }}
                <li>Size {{ .Size }} ship at {{ index $plNames .Target }}
                <form action="" method="post" class="noblock">
                <input type="hidden" name="action" value="setorder">
                <input type="hidden" name="turn" value="{{ $g.Turn }}">
                <input type="hidden" name="source" value="{{ .Source }}">
                <input type="hidden" name="target" value="{{ .Target }}">
                <br> Change size (0 to cancel): <input type="text" size=2 name="size">
                <input type="submit" value="CHANGE" class="noblock">
                </form>
                </li>
                {{ end }}
        </ul>
        </div>
        {{ end }}
{{ else }}
        {{ if $centerpv.Turn }}
        {{ $centerpv.Name }} ({{ index $names $centerpv.Controller }}) <br>
        Last Seen Turn {{ $centerpv.Turn }}<br>
        Inhabitants: {{ $centerpv.Inhabitants }} &bull; 
        Resources: {{ $centerpv.Resources }} &bull;
        Ship Parts: {{ $centerpv.Parts }} (Available: {{ index $availparts $centerpv.Pid }})<br>
        {{ else }}
        {{ $centerpv.Name }}<br>
        No planetary information available<br>
        <br>
        {{ end }}
{{ end }}
{{ if not .cenfocused }}
<form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setmap">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="subtype" value="focus">
        <input type="hidden" name="hexx" value="{{ index $centerpv.Loc 0 }}">
        <input type="hidden" name="hexy" value="{{ index $centerpv.Loc 1 }}">
        <input type="submit" value="Focus {{ $centerpv.Name}}" class="noblock">
</form>
{{ if $focuspv }}
<form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setmap">
        <input type="hidden" name="subtype" value="swap">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="submit" value="Swap Focus/Center" class="noblock">
</form>
{{ end }}<br>
{{ end }}

{{ end }}
{{ if .centersv }}
        <div class="box" style="margin-left:810px;">
        Ship passage detected at {{ index $center 0}}, {{ index $center 1 }}:<br>
        {{ range .centersv }}
        SV: {{ . }}<br>
        {{ end }}
        </div>
{{ end }}

{{ if .focus }} <hr> {{ if .cenfocused }}
        Focused: {{ $focuspv.Name }}<br>
{{ else }} {{ if $focuspv }}
        Focused: {{ $focuspv.Name }}<br>
        {{ if .fyou }}
                YOUR PLANET<br>
        {{ else }}
                NOT YOURS<br>
        {{ end }}
        <form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setmap">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="hexx" value="{{ index $focuspv.Loc 0 }}">
        <input type="hidden" name="hexy" value="{{ index $focuspv.Loc 1 }}">
        <input type="submit" value="Center Map On {{ $focuspv.Name }}" class="noblock">
        </form>
{{ end }} {{ end }} {{ end }}

</div>

<hr>
{{ range index . "pvs"}}
<div class="box">
        {{ $polar := .Loc.Polar }}
        {{ .Name }} || Pid: {{ .Pid }} || Grid: {{ .Loc }} ({{ if index $polar 0 }}Sector: {{ .Loc.Sector }} Radius: {{ index $polar 0 }}{{ else }}GALACTIC CENTER{{ end }})<br>
{{ if eq .Controller $f.Fid }}
        YOUR PLANET || Inhabitants: {{ .Inhabitants }}<br>
        Resources: {{ .Resources }} || Ship Parts: {{ .Parts }} (Available: {{ index $availparts .Pid }})<br>
        <hr>
        ORDERS:<br>
        <ul> {{ range index $orders .Pid }}
                <li>
                TARGET: {{ index $plNames .Target }} ({{ .Target }}) || 
                SIZE: {{ .Size }}
                <form action="" method="post" class="noblock">
                <input type="hidden" name="action" value="setorder">
                <input type="hidden" name="turn" value="{{ $g.Turn }}">
                <input type="hidden" name="source" value="{{ .Source }}">
                <input type="hidden" name="target" value="{{ .Target }}">
                <br> CHANGE SIZE (0 to cancel):<input type="text" name="size">
                <input type="submit" value="CHANGE" class="noblock">
                </form>

                </li>
                {{ else }}
                <li>NONE</li>
                {{ end }}
        </ul>
        NEW ORDER:<br>
        <form action="" method="post" class="noblock">
        <input type="hidden" name="action" value="setorder">
        <input type="hidden" name="turn" value="{{ $g.Turn }}">
        <input type="hidden" name="source" value="{{ .Pid }}">
        TARGET:<input type="text" name="target">
        SIZE:<input type="text" name="size">
        <input type="submit" value="ORDER SHIP CONSTRUCTION" class="noblock">
        </form>
{{ else }}
        {{ if .Turn }}Last Seen: Turn {{ .Turn }}<br>
        Owner: {{ index $names .Controller }} || Inhabitants: {{ .Inhabitants }}<br>
        Resources: {{ .Resources }} || Ship Parts: {{ .Parts }}<br>
        {{ else }}No planetary information available<br>{{end}}
{{ end }}
</div>
{{ else }}
NO PV FOUND<br>
{{ end }}
<hr>
{{ range .svs }}
SHIPVIEW: {{ . }}<br>
{{ else }}
NO SHIPVIEWS FOUND<br>
{{ end }}
<script src="/static/js/overpower.js"></script>
{{ end }}
