{{ define "title"}}Overpower Play Page{{end}}
{{ define "css"}}overpower{{end}}
{{define "body"}}
<div class="blocker" id="fullscreenblock"><div class="blockertext">
        <span id="blockertext">Loading game...</span><br> 
        <button id="blockbutton"></button>
</div></div>
<div id="reportscreen0"></div> <div id="reportscreen1">
        <div id="reportmenu">
        <button class="reportclicker" id="reportclose">Close Reports</button>
        <button class ="reportclicker" id="reportchangeturn"></button>
        <button class ="reportclicker" id="reportfilterall">View All Reports</button>
        <button class ="reportclicker" id="reportfilterlaunch">View Only Launch Reports</button>
        <button class ="reportclicker" id="reportfilterlanding">View Only Landing Reports</button>
        </div>
        <div id="reportdisplay"><b>Reports for turn <span id="reportturntext"></span></b><div id="reportdisplaybody">
                        <div id="launchbody"></div>
                        <div id="landingbody"></div>
                </div>
        </div>
</div>
<div class="canvasspacer">
<canvas class="screen" id="starscreen" width=800 height=600></canvas>
<canvas class="screen" id="mainscreen" width=800 height=600></canvas>
</div>
<b>Game:</b> [ <a href="/overpower/view/{{ .game.Gid }}">{{ .game.Name }}</a> ] &bull; <b>Faction:</b> {{ .faction.Name }}<br>

<b>Score:</b> <span id="scoretext"></span> &bull; <b>To win:</b> {{ .game.ToWin }} &bull;  <b>Leader:</b> <span id="highscoretext"></span>

<br>
<b>Turn:</b> <span id="turntext"></span> &bull;
        <span id="turncompletetext"></span> &bull;
        <button class="clicker" id="turnchange"></button>
        <div id="bufferbox">
        <br> <span id="buffertext">TEST</span> &bull; 
        <button class="clicker" id="turnbufferbutton">TEST</button>
        </div>

<br><b>Reports:</b> <span id="reporttext"></span> &bull;
<button class="clicker" id="reportbutton">View Reports</button>

<div class="targetframe">
<div class="rightframe">
        <b>Secondary Target: </b><span id="secondtargettext"></span>
        <div id="secondtargetbox"></div>
        <button class="clicker" id="swapbutton">Swap Main/Secondary Targets</button>
</div>
<div class="leftframe"> <div class="center"> <b>Main Target: </b> <span id="maintargettext"></span>
        <div id="maintargetbox">
                <div id="planetinfobox"> </div>
                <div id="orderinfobox"></div>
                <div id="shipinfobox"></div>
                <div id="trailinfobox"></div>
        </div>
</div> </div>
<div id="targetorderbox"></div>
<button class="redclicker" id="orderconfirm"><b>Confirm Order</b></button>
<div class="clearer"></div>
</div>

<script src="/static/js/stars.js" type="text/javascript"></script>
<script src="/static/js/grid.js" type="text/javascript"></script>

<script src="/static/js/gamedata.js" type="text/javascript"></script>
<script src="/static/js/map.js" type="text/javascript"></script>
<script src="/static/js/infobox.js" type="text/javascript"></script>

<script src="/static/js/input.js" type="text/javascript"></script>
<script src="/static/js/getdata.js" type="text/javascript"></script>
<script src="/static/js/turnbuffer.js" type="text/javascript"></script>
<script src="/static/js/reports.js" type="text/javascript"></script>
<script type="text/javascript"> (function() {
var canvas = document.getElementById('mainscreen');
canvas.fetchFullView({{ .game.Gid }}, {{ .faction.Fid }});
})(); </script>

{{ end }}
