{{ define "title"}}Planet Attack! Game Page{{end}}
{{ define "css"}}main{{end}}
{{define "body"}}
{{$g := index . "game" }}
{{ $myfac := index . "myfac" }}
PAGE FOR PRE-GAME: {{ $g.Name }}<br>
WAITING FOR GAME START<br><br>
<div class="box">
{{ if not $myfac }}
SIGN UP?<br>
<form action="" method="post">
        <input type="hidden" name="action" value="joingame">
        Faction Name:<input name="facname" type="text">
        {{ if $g.Password }}Password:<input name="password" type="text">{{ end }}<br>
        <input type="submit" value="JOIN GAME">
</form>
{{ else }}
YOURFAC: {{ $myfac.Name }} <br>
<form action="" method="post">
        <input type="hidden" name="action" value="leavegame">
        <input type="submit" value="LEAVE GAME">
</form>

{{ end }}
</div>
{{ if $myfac }}OTHER {{ end }}FACTIONS:<br>
{{ range index . "factions" }} {{ if . }}
FACTION: {{ .Name }} (USER: {{ .Owner }})<br>
{{end}}{{ else }}
NONE<br>
{{ end }}
{{ end }}

