{{ define "title"}}Overpower Quit Confirmation Page{{end}}
{{ define "css"}}overpower{{end}}
{{define "body"}}
QUIT CONFIRMATION PAGE GOES HERE<br>
Faction: {{ .faction.Name }} &bull; Game: {{ .game.Name }}<br>
Back to [ <a href="/overpower/view/{{ .game.Gid }}">Game {{ .game.Name }}</a> ]
<hr>
<div class="box" style="border-color:#FF0000;text-align:center;">Really Quit?<br>
<form action="" method="post">
<input type="hidden" name="confirm" value="true">
<input type="submit" value="CONFIRM QUIT GAME">
 </form>
{{ end }}

