{{ define "title"}}Overpower Reports Page{{end}}
{{ define "css"}}overpower{{end}}
{{define "body"}}
{{ $gid := .game.Gid }}
[ <a href="/overpower/view/{{ $gid }}">Game {{ .game.Name }}</a> ] &bull;
[ <a href="/overpower/view/{{ $gid }}/play">Faction {{ .f.Name }}</a> ] &bull;
<b>Currently viewing reports for turn {{ .turn }}</b> &bull;
{{ if .prev }}[ <a href="/overpower/view/{{ $gid }}/reports/{{ .prev }}">Reports for turn {{ .prev }}</a> ]{{ else }} [ No earlier reports ] {{ end }} &bull;
{{ if .next }}[ <a href="/overpower/view/{{ $gid }}/reports/{{ .next }}">Reports for turn {{ .next }}</a> ]{{ else }} [ No further reports ] {{ end }}<br>
<hr>
{{ if .rp }} 
        <b>Reports:</b><ul>{{ range .rp.Contents }}
        <li>{{ . }}</li>
        {{ end }}</ul> 
{{ else }}
<b>No reports for turn {{ .turn }}</b>
{{ end }}
{{ end }}
