{{ define "title"}}Overpower Game Page{{end}}
{{ define "css"}}overpower{{end}}
{{define "body"}}
<div class="blocker" id="fullscreenblock"><div class="blockertext"><span id="blockertext">Loading game...</span><br> 
                <button id="blockbutton"></button>
        </div></div>
{{ $g := index . "game" }}
{{ $active := index . "active" }}
{{ $ownedf := index . "ownedf" }}
GAME:  {{ $g.Name }} &bull; OWNER: {{ $g.Owner }} &bull; {{ if $active }}TURN: {{ $g.Turn }}{{ else }}NOT STARTED{{ end }}<br>

Planets to win: {{ $g.ToWin }}<br>
{{ if $g.HighScore }} Current leading score: {{ $g.HighScore }}<br>{{ end }}
{{ $autodays := $g.AutoDays }}
Auto Run Days: &bull;
{{ if .noauto }}
None! &bull;<br>
{{ else }}
{{ if index $autodays 0 }}Sunday &bull; {{ end }}
{{ if index $autodays 1 }}Monday &bull; {{ end }}
{{ if index $autodays 2 }}Tuesday &bull; {{ end }}
{{ if index $autodays 3 }}Wednesday &bull; {{ end }}
{{ if index $autodays 4 }}Thursday &bull; {{ end }}
{{ if index $autodays 5 }}Friday &bull; {{ end }}
{{ if index $autodays 6 }}Saturday &bull; {{ end }}<br>
{{ if $g.FreeAutos }}Free Turns: {{ $g.FreeAutos }}<br>{{ end }}
{{ end }}

{{ if $ownedf }}
<div class="box">
{{ if $active }}
 <div style="text-align:center;float:right;margin:10px 10px 10px 10px;">
         [ <a href="/overpower/quit/{{ $g.Gid }}">Quit Game?</a> ]<br>
         ( will ask for confirmation )
 </div>
YOUR FAC:  <a href="{{ link "play" }}">{{ $ownedf.Name }}</a> 
{{ if $ownedf.IsDone }}
(Turn Complete)
<form action="" method="post" class="noblock">
<input type="hidden" name="action" value="setdone">
<input type="hidden" name="done" value="false">
<input type="hidden" name="turn" value="{{ $g.Turn }}">
<input type="submit" value="Cancel Turn Complete" class="noblock">
</form>
{{ else }}
(Turn In Progress)
<form action="" method="post" class="noblock">
<input type="hidden" name="action" value="setdone">
<input type="hidden" name="done" value="true">
<input type="hidden" name="turn" value="{{ $g.Turn }}">
<input type="submit" value="Set Turn Complete" class="noblock">
</form>
{{ end }}
<br>
{{ else }}
YOUR FAC: {{ $ownedf.Name }}<br>
<form action="" method="post">
<input type="hidden" name="action" value="dropfac">
<input type="submit" value="LEAVE GAME" class="noblock">
</form>
{{ end }}
<div class="clearer"></div>
</div>
{{ else }}
{{ if not $active }}
{{ if index . "user" }}
<div class="box">
        Do you wish to join this game?
<form action="" method="post">
<input type="hidden" name="action" value="newfac">
Faction Name: <input name="facname" type="text">
{{ if $g.HasPW }} Password: <input name="password" type="text"> {{ end }}
<input type="submit" value="JOIN GAME" class="noblock">
</form>
</div>
{{ else }}
If you wish to join this game, first you must <a href="/auth/login">login</a> or <a href="/auth/create">create a user</a>.<br>
{{ end }}
{{ end }}
{{ end }}
<br>{{ if index . "otherf" }}
OTHER FACTIONS:
<ul>{{ range index . "factions" }}{{ if . }}
<li>FAC: {{ .Name }} OWNER: {{ .Owner }} {{ if .IsDone }}(Turn Complete){{ else }}(Turn In Progress){{end}}</li>
{{ end }}{{ end }}</ul>
{{ else }}
NO OTHER FACTIONS
{{ end }}
<div id="mainscreen"></div>

<script type="text/javascript">
var curTurn = {{ $g.Turn }};
var curGame = {{ $g.Gid }};
</script>
<script src="/static/js/getdata.js" type="text/javascript"></script>
<script src="/static/js/turncheck.js" type="text/javascript"></script>
{{ end }}
