body {
        padding-bottom:200px;
        min-width: 1100px;
}
span {
}
div {
        padding: 0px; margin: 0px;
}

#maintargetbox {
        text-align:left;
}
#blockbutton {
        margin: 0px; padding: 3px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        font-weight: bold;
        text-size:x-large;
        background-color: #ffffff;
        color: #000000;
}
button.hexbutton {
        display: inline-block;
        margin: 1px; padding: 3px;
        border: 0px solid #000000;
        background-color: #aaccff;
        border-radius: 5px;
        color: #000000;
        text-size: 1em;
        font-weight: bold;
        ext-decoration:underline;
}
button.clicker {
        display: inline-block;
        margin: 0px; padding: 3px;
        margin-top: 3px;
        border: 0px solid #000000;
        border-radius: 5px;
        background: #aaccff;
        font-weight: bold;
}

div.canvasspacer {
        padding: 0px; margin: 0px;
        margin-top: -5px;
        margin-right:10px;
        margin-bottom:10px;
        width: 800px;
        height: 600px;
        float: left;
}

div.blocker {
        display:none;
        position:fixed;
        top:0%;left:0%;
        width: 100%;
        height: 100%;
        z-index:10;
        background-color: #333333;
        opacity: .75;
        text-align:center;
        vertical-align: center;
}

div.blockertext {
        color: white;
        font-size:xx-large;
        vertical-align: middle;
        margin-top: 20%;
}

#reportscreen0 {
        display:none;
        position:fixed;
        top:0%;left:0%;
        width: 100%;
        height: 100%;
        z-index:7;
        background-color: #333333;
        opacity: 0;
        text-align:center;
        vertical-align: center;
        transition: opacity 0.75s ease 0s;
}

#reportscreen1 {
        display:none;
        position:absolute;
        top:10%;left:10%;
        width: 80%;
        min-height: 80%;
        z-index:8;
        background-color: #ffffff;
        opacity: 0;
        ext-align:center;
        vertical-align: center;
        border: 2px solid #000000;
        border-radius: 5px;
        transition: opacity 0.75s ease 0s;
}

#reportdisplay {
        margin: 10px;
        text-align:center;
}
#reportdisplaybody {
        margin: 0px; padding: 0px;
        margin-left: 10px;
        text-align: left;
}
#reportmenu {
        width: 180px;
        float: right;
        text-align:center;
}
#reportclose {
        margin: 5px;
        width: 150px;
}
#reportchangeturn {
        margin: 5px; padding: 5px;
        padding-top:20px;
        padding-bottom:20px;
        width: 150px;
        border: 0px solid #000000;
        border-radius: 5px;
}


a.blocker {
        color: white;
}

div.indexbody {
        margin-left:5%;
        margin-right: 5%;
}
ul {
        margin-top: 0px;
        margin-bottom: 0px;
}
hr.target {
        margin: 5px 25px 5px 25px;
        padding-left:5px; padding-right:5px;
        order: 1px solid #000000;
}

img.map {
        float: left;
        display: inline-block;
        margin-right: 5px;
}
div.mapbox {
        margin: 3px; padding: 3px;
        margin-top: -10px;
        height: 600px;
}
div.box {
        margin: 3px; padding: 3px;
        border: 2px solid #000000;
        border-radius: 5px;
}

div.title {
        margin: 3px;padding:0;
        margin-top: 0px;
        margin-left:20px;
        float: left;
}

div.loginarea {
        margin: 3px;padding:0;
        text-align: right;
        margin-top: 0px;
        margin-right: 20px;
}

div.titlebox {
        margin: 3px; padding: 3px;
        border: 2px solid #000000;
        border-radius: 5px;
        text-align: right;
        height:20px;
        padding-top: 5px;
        vertical-align: center;
        margin-bottom: 10px;
}

div.errorbox {
        margin: 3px; padding: 3px;
        border: 2px solid #FF0000;
        border-radius: 5px;
}

form.noblock {
        display:inline;
}

div.targetframe {
        margin: 0px; padding: 0px;
        margin-left: 810px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 2px solid #000000;
        border-radius: 5px;
}
div.rightframe {
        margin: 5px; padding: 2px;
        margin-left:10px;
        padding-bottom:5px;
        float:right;
        width: 49%;
        border: 2px solid #000000;
        text-align:center;
        border-radius: 5px;
}
div.leftframe {
        margin: 0px; padding: 0px;
        padding-left: 10px;
        idth: 49%;
        xborder: 2px solid #000000;
        ext-align:center;
}
#targetorderbox {
        padding-left: 10px;
}
#swapbutton {
        display: none;
}
#orderconfirm {
        display: none;
        argin: 3px; padding: 3px;
        margin-left: 10px;
        border: 0px solid #000000;
        border-radius: 5px;
        background: #991111;
        color: #ffffff;
}

div.clearer {
        clear:right;
        margin: 0px; padding: 0px;
}
div.center {
        margin: 0px; padding: 0px;
        text-align:center;
}
div.targetcenter {
        xborder: 2px solid #000000;
        margin: 0px; padding: 0px;
        text-align:center;
        padding-top:10px;
        padding-bottom:5px;
}

canvas.screen {
        border: 1px solid black;
        position: absolute;
}
canvas.starscreen {
        z-index:1;
}
canvas.mainscreen {
        z-index:2;
}






