{{ define "title"}}Planet Attack! Game View Page{{end}}
{{ define "css"}}main{{end}}
{{define "body"}}
{{ $userf := index . "userfac"}}
{{ $fID := index . "userFID"}}
Turn: {{ index . "turn" }}<br>
Factions:<ul>{{range $fac, $done := (index . "facs") }}
        <li>
        {{ if $userf }}{{ if eq $userf $fac }}
        <a href="/view/{{ $fac }}">{{ $fac }}</a>: <b>{{ if $done }}Turn Completed{{ else }}Turn in progress{{end}}</b>
        <form class="noblock" action="" method="post">
        <input type="hidden" name="action" value="toggledone">
        <input type="hidden" name="fID" value="{{ $fID }}">
        {{ if $done }}<input type="submit" value="Cancel Turn Complete" title="Mark your turn as in progress">{{ else }}<input type="submit" value="Set Turn Complete" title="Mark your turn as complete">{{ end }}
        </form>
        {{ else }}
        {{ $fac }}: <b>{{ if $done }}Turn Completed{{ else }}Turn in progress{{end}}</b>
        {{end}}
        {{ else }}
        {{ $fac }}: <b>{{ if $done }}Turn Completed{{ else }}Turn in progress{{end}}</b>
        {{ end }}
        </li>
        {{ end }} </ul>
{{ if index . "admin" }}
        <div class="box">
        ADMIN:<br>
        <form action="" method="post">
        <input type="hidden" name="action" value="runturn">
        <input type="submit" value="Run Turn" title="Start the next turn!">
        </form>
        </div>
{{ end }}
{{ end }}

