{{ define "title"}}Planet Attack! Game View Page{{end}}
{{ define "css"}}main{{end}}
{{define "body"}}
<a href="/view/{{ index . "fac"}}/">Galaxy List View</a><br>
{{ if index . "prev"}}[ <a href="/view/{{ index . "fac"}}/reports/{{ index . "prev"}}">Reports for Previous Turn</a> ]
{{ else }}
[ Reports for Previous Turn ]
{{ end }}
&bull; Turn {{ index . "view" }} Reports for faction {{ index . "fac" }} &bull; 
{{ if index . "next"}} [ <a href="/view/{{ index . "fac"}}/reports/{{ index . "next"}}">Reports for Next Turn</a> ] {{ else }}
[ Reports for Next Turn ]
{{ end }}
<br>
{{ if (index . "reports") }}
<ul>{{ range (index . "reports") }} <li>{{ . }}</li> <br> {{ end }}</ul>
{{ else }}
No reports!
{{ end }}
{{ end }}
